/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Varela Round', sans-serif,  sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Nav-bar */
nav{
  background-color: rgba(2,2,2,0.2);
  padding: 5px 20px;
  display:flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav li a{
  color:black;
}
.menu{
  display:flex;
  align-items: center;
  list-style: none;
}
.menu li{
  padding: 15px 10px;
  font-size: 16px;
}
/* Scrolled effect */
.scrolled {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Menu item hover effect */
nav .menu li a {
  position: relative;
}
nav .menu > li > a:hover:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #ff3c78; /* set your desired color here */
  transition: width 2s ease-in-out; /* add a transition for smooth effect */
}
nav .menu li a:hover:after {
  width: 100%; 
}
nav ul.menu li a:hover {
  font-weight: bold;
}

/* Logo styling */
.logo img{
  width:80px;
  margin: 10px 0 0 10px ;
}
.logo{
  flex: 1;
}
.logo a{
  display: flex;
  align-items:center;
  font-size: 20px;
}
.logo a:visited {
  color: black;
}

/* Toggle menu */
.toggle{
  font-size: 30px;
  display:none;
}
.toggle a:visited {
  color: black;
}
/* Image Slider */
.slides{
  display:none;
}
.slides img{
  width:100%;
  vertical-align: middle;
  
}
.container{
  max-width:max-content;
  max-height: max-content;
  position: relative;
  margin:auto;
}
.prev,.next{
  cursor: pointer;
  position: absolute;
  top:50%;
  width:auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select:none; 
}
.next{
  right:0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,.next:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
.dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease-in-out;
}

.dot.active, .dot:hover {
  background-color: #f2f2f2;
}

.dot:hover {
  transform: scale(1.2);
}

.dots{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from{opacity: .4}
  to{opacity: 1}
}
@keyframes fade{
  from{opacity: .4}
  to{opacity: 1}
}


/* Sections */
h3{
  text-align: center;
}
.section {
  display:grid;
  place-items: center;
  align-content: center;
  width:100%;
  height: 100%;
  padding: 50px;
  padding-top:  50px;
  align-items: start;
  min-height:max-content; /* Set height to 100% viewport height, adjust as needed */
  background-color: #f0f0f0; /* Set background color, replace with desired color */
   
}
.section h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.content {
  opacity: 0; /* Set initial opacity to 0 for animation */
}

/* Add animation styles for each section using class names */
/* section 1 start */
.section1 .content {
  animation: slideRight 1s ease-in-out 0.5s forwards;
}

.section1 .content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 50px;
  align-items: center;
}

.section1 .text {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: center;
}

.section1 .image {
  max-width: 100%;
  background-color: #c8f0f9;
  border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%;
}
.section1 .mobile{
    display:none;
  }
 
.section1 .content p {
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 10px;
}

/* Style Read Mode Button */
.read-mode-button {
  background-color: #7bdbdb;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}
.read-mode-button:hover{
background-color: rgb(2, 187, 249);
}
/* section 1 end */

/* section 2 start */
.section2 .content {
  animation: slideLeft 1s ease-in-out 0.5s forwards;
}
.section2 {
  padding: 40px;
  background-color: #f7f7f7;
}
.section2 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.section2 .text {
  width: 100%;
  max-width: fit-content;
  margin-right: 40px;
}

.section2 .text p {
  line-height: 1.5;
  margin-bottom: 30px;
}

.section2 .text ul {
  margin-left: 20px;
  list-style: disc;
}

.section2 .text li {
  line-height: 1.5;
  margin-bottom: 10px;
}

.section2 .image {
  width: 100%;
  max-width: 400px;
}

.section2 .image img {
  margin-top: 10px; 
  width: 100%;
  height: auto;
}
.section2 .mobile{
    display:none;
  }
/* section 2 end */
.section3 .content {
  animation: slideRight 1s ease-in-out 0.5s forwards;
}
.section3.content p{
  line-height: 1.5;
}

.section4 .content {
  animation: slideLeft 1s ease-in-out 0.5s forwards;
}
.section4{
  background-color: #f7f7f7;
}
.section4 .content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 .content p{
  line-height: 1.5;
}

.section5 .content {
  animation: slideRight 1s ease-in-out 0.5s forwards;
}
.section3.content p{
  line-height: 1.5;
  margin: 10px 0 10px 0;
}



/* Define animation keyframes for sliding left and right */
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Drops */

.drop-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding:25px 0;
  gap: 30px 40px;
}
.drop-container .drop{
  position: relative;
  width:340px;
  height:340px;
  box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),25px 35px 20px rgba(0,0,0,0.05), 25px 30px 30px rgba(0,0,0,0.05), inset -20px -20px 25px rgba(255,255,255,0.9);    
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

}
.drop-container .drop:nth-child(1),.drop-container .drop:nth-child(4),.drop-container .drop:nth-child(7),.drop-container .drop:nth-child(10){
 border-radius: 56% 44% 58% 42% / 45% 67% 33% 55%  ; 
}
.drop-container .drop:nth-child(2),.drop-container .drop:nth-child(5),.drop-container .drop:nth-child(8){
 border-radius: 53% 47% 58% 42% / 38% 58% 42% 62% ; 
}
.drop-container .drop:nth-child(3),.drop-container .drop:nth-child(6),.drop-container .drop:nth-child(9){
 border-radius: 55% 45% 58% 42% / 41% 59% 41% 59%   ; 
}
.drop-container .drop:hover{
  border-radius: 50%;
}
.drop-container .drop::before{
  content: "";
  position:absolute;
  top: 40px;
  left: 90px;
  width:30px;
  height: 30px;
  background: #fff ;
  border-radius: 50%;
  opacity: 0.5;
}
.drop-container .drop::after{
  content: "";
  position:absolute;
  top: 70px;
  left: 108px;
  width:12px;
  height: 12px;
  background: #fff ;
  border-radius: 50%;
  opacity: 0.5;
}
.drop-container .drop .drop-content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap:15px;
}
.drop-container .drop .drop-content h2{
  display:flex;
  justify-content: center;
  align-items: center;
  font:1.5em;
  color: var(--clr)
}
.drop-content p{
  font-size: medium;
}


/* drop end */

/* Event cards */
.card{
  width:320px;
  height:500px;
  border-radius: 20px;
  overflow:hidden;
  border: 1px solid black;
  position: relative;
  margin:2px;
}
.card-image{
  width:100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}


.card-body {
width: 100%;
height: 100%;
position: absolute;
top: 0;
right: -100%; /* Update right property to -100% */
background: #1f3d4736;
backdrop-filter: blur(6px);
border-radius: 15px;
color: aliceblue;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
transition:  1s; /* Update transition property to specify the property to be transitioned */
}

.card:hover .card-body {
right: 0; /* Update right property to 0 on hover */
}

.card-title{
  text-transform: uppercase;
  font-size: 20px;
  font-weight:500;
} 
.card-info{
  font-size: 15px;
  line-height: 18px;
  margin: 40px 0;
}
.card-container {
display: flex;
flex-wrap: wrap;
justify-content:flex-start;
}

.card {
flex-basis: calc(25% - 20px); /* 4 cards in a row in desktop view */
margin-bottom: 20px;
}

.event-container {
  display:none;
}
  
@media screen and (max-width: 786px)  {
  /* Nav Bar */
  nav{
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1px;
  }
  .scrolled {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .menu{
    margin-top:15px;
    display:none;
  }
  .menu.active, .toggle{
    display:block;
  }
  .toggle{
    position: absolute;
    top:35px;
    right:20px;
  }
 .logo img{
    width:50px;
    margin: 10px 0 0 10px ;
  }
  /* Image Slider  */
  .dot {
    height: 10px;
    width: 10px;
  }
  .container{
    width:fit-content;
    margin:auto;
  }

  /* section */
  .section0{
    padding-top: 150px;
  }
  /* section 1 start*/

  .section .content {
    grid-template-columns: 1fr;
  }
  .section1 .image {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .section1 .desk{
    display:none;
  }
  .section1 .mobile{
    display:contents;
  }
  .section1 .image.mobile {
  max-width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* section 2 start*/
.section2 .content {
  flex-direction: row;
}

.section2 .text {
  margin-right: 40px;
}

.section2 .image {
  width: 50%;
  margin-left: 40px;
}

.section2 .text p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.section2 .text li {
  line-height: 1.6;
  margin-bottom: 10px;
}
.section2 .desk{
  display:none;
}
.section2 .mobile{
  display:contents;
}
.section2 .image img{
  width:75%;
  height: auto;
  padding-left: 30%;

}
.event-container {
  /* Add styles for the container */
  display:contents;
}
  .event-content-heading {
    /* Add styles for the content heading */
    /* For example, you can style it as a button or a link */
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
  }
  .event-content-wrapper {
    /* Add styles for the content wrapper */
    /* For example, use flexbox or grid to align text and image side by side */
    display: grid; /* or grid */
    justify-content: space-around; /* Add this property to separate text and image */
  }
  .event-content-hidden {
    /* Add styles for the hidden content */
    /* For example, set display property to none to hide it by default */
    display: none;
  }
  
  .event-content-text {
    /* Add styles for the content text */
    margin: 10px auto;
    min-width: 30Vh;
    flex: 1; /* Add this property to allow text to take up remaining space */
  }
  .event-content-text span{
    display:block;
    opacity: 0;
    animation: reveal 2s forwards var(--d);
  }
  @keyframes reveal {
    from {transform: translate(40px);}
    to { opacity: 1; transform: n;}
  }
  
  .event-content-image {
    /* Add styles for the content image */
    padding-left:30px;
  }
  /* drop */
  .drop-container.mobile-view .drop {
    border-radius: 50%;
  }
  .drop-container.mobile-view .drop:hover {
    border-radius: 50%; /* Optional: add hover effect for larger screens */
  }
 
  /* drop end */

  /* Event cards */
  .card {
    display:none;
  }
}

@media (max-width: 1024px) and (min-width: 787px){
  .card {
    flex-basis: calc(33.33% - 20px); /* 3 cards in a row in tablet view */
  }

  /* drop */
  .drop-container.mobile-view .drop {
    border-radius: 50%;
  }
  .drop-container.mobile-view .drop:hover {
    border-radius: 50%; /* Optional: add hover effect for larger screens */
  }
}


